{% extends 'base.html.twig' %}

{% block title %}Create Payment{% endblock %}

{% block body %}
<h1>Create Payment</h1>

<form action="/payment/create" method="post">
    <label for="amount">Amount</label>
    <input type="number" name="amount" value="amount">
    <label for="capture_type">Capture Type</label>
    <select name="capture_type">
        {%for capture_type in capture_types %}
            <option value="{{ capture_type }}">{{ capture_type }}</option>
        {% endfor %}
    </select>
    {# <input type="text" name="param2" value="value2"> #}
    <button type="submit">Submit</button>
</form>


 {# {{ form_start(form)}}
   {{ form_row(form.amount)}}
   <button type="submit">Create Payment</button>
 {{ form_end(form)}} #}
{% endblock %}
